.image {
  /* width: 984px; */
  /* height: 615px; */
  width: 100%;
  margin-bottom: 92px;
}

.image__kalegin {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .content__image {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 320px) {
  .content__image {
    margin-bottom: 64px;
  }
}
