.photo-grid {
  width: 1184px;
  height: 442px;
  margin: 0 auto;
  margin-bottom: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

@media screen and (max-width: 1280px) {
  .photo-grid {
    width: 92%;
  }
}
